* {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0);
}

#App {
    height: 100vh;
}

#App > header {
    height: 4em;
}

#App > main {
    height: calc(100% - 4em);
    overflow: scroll;
}

#images-container > img {
    vertical-align: top;
    max-height: 16em;
}
