body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    overflow: hidden;
    background-color: rgba(0, 0, 0, 0);
}

#App {
    height: 100vh;
}

#App > header {
    height: 4em;
}

#App > main {
    height: calc(100% - 4em);
    overflow: scroll;
}

#images-container > img {
    vertical-align: top;
    max-height: 16em;
}

.select {
    position: absolute;
    margin: 0 1em;
    top: 50%;
    transform: translateY(-50%);
}
